& when (@media-common =true) {
  /* #region common */
  .main-banner {
    
    margin: 0 -100px;
    color: @color-white;
    .bg-banner {
      position: relative;
    }
    .main-banner-content {
      position: absolute;
      z-index: 1;
      top: 50%;
     text-align: center;
      transform: translate(20%, -50%);
   
      h2 {
        font-size: 200px;
        font-family: @font-market;
      }
      .main-banner-text {
        font-size: 32px;
        line-height: 34px;
        font-weight: 400;
        font-family: @font-lora;
        padding: 50px 0 30px 0;
        filter: drop-shadow(0 0 7.5px rgba(0, 0, 0, 0.5));
      }
      .main-banner-btn {
        a {
          color: @color-white;
          font-size: 15px;
          font-weight: 700;
          padding: 17px 22px;
          border: 2px solid @color-white;
          background-color: @color-black;
          text-decoration: none;
          text-transform: uppercase;
        }
      }
    }
  }

  .product-intro-top {
    .row {
      .col {
        width: 45%;
      }
    }
  }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break)
  when
  (@extremum ="max")
  and
  (@break =@screen__m) {
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break)
  when
  (@extremum ="min")
  and
  (@break =@screen__m) {
}
